//
// global-footer
// ---------------------------------------------------

/* STRUCTURE

#global-footer
  .container
    .footer-sitemap.row
    .footer-utility.row
*/

// Base
// ---------------------------------------------------
#global-footer {
  padding: $margin-v-subchapter 0 $margin-v-chapter;
  color: $color-gray;
  background: #1e1c1c;
  [role=contentinfo] small {
    font-family: $font-family-alphanumeric;
  }
}