@charset 'UTF-8';
//library
@import '../lib/variables';
@import '../lib/mixins';
.main-view {
  padding: 40px 0 80px;
  min-height: 40vh;
}

.posts-list {
  background-color: #fff;
  padding: 20px 0;
  position: relative;
  line-height: 20px;

  article {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(190,190,190,.25);
  }

  .header a {
    color: $color-black;
    font-size: 18px;
    line-height: 1.2;
    display: block;
    padding: 15px 0 0;
    text-transform: uppercase;
    font-weight: bold;
  }
  .content {
    padding: 25px 0;
  }
  .meta {
    .tag a {
      color: $color-white;
      background: $color-black;
      padding: 5px 10px;
    }
    .date {
      color: $color-gray;
    }
  }
}

.comments-area {
  margin-bottom: 50px;
  padding: 35px 0;
  padding-bottom: 0;
  border-top: 2px solid #e6e3e3;
  li.comment {
    margin-top: 0;
    list-style: none;
    border-bottom: 1px solid #eeeeee;
    &:last-child {
      border-bottom: none;
    }
    .comment-author {
      width: 50px;
      margin-right: 30px;
      float: left;

      img {
        width: 50px;
        height: auto;
        border-radius: 25px;
      }
    }
    .comment-metadata {
      margin-top: 40px;
      margin-bottom: 30px;
      display: table;

      .author a {
        text-decoration: none;
        color: $color-coral;
      }

      .reply {
        float: right;
        margin-right: 10px;
        margin-top: 40px;
      }
    }
  }
}


/*photo*/
.panel{
  position: relative;
  background: #fff;
  border-radius: 5px;
  margin-bottom: 15px;
  border-right: solid 1px #d6d6d7;
  border-bottom: solid 1px #d1d1d2;
}
.panel-title {
  position: relative;
  border-radius: 5px 5px 0 0;
  background: #edf8fe;
  padding: 10px 20px;
  color:#59bfff;
}

.panel-body{
  padding: 10px 20px;
  overflow: hidden;
}
.panel-body-img{
  width: 100%;
  border:1px solid #f2f2f2;
  padding: 5px;
}
.panel-content{
  line-height: 26px;
  max-height: 104px;
  overflow: hidden;
}
.photo-move{
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
}
.photo-box{
  position: relative;
  padding: 7px;
  margin-right: 15px;
  cursor: zoom-in;
}
.photo-box:hover .photobox-top{
  opacity: 1;
}
.photo-box-top{
  opacity: 0;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  position: absolute;
  background-color: #fff;
  top: 7px;
  right: 7px;
  padding: 5px 10px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
}
.photo-box > img{
  width: 100%
}
/*photo end*/

.photo-modal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .5);
  -webkit-overflow-scrolling: touch;
  outline: 0;
  transition: opacity .3s ease;
}
.photo-modal-dialog{
  max-width: 1200px;
  min-width: 400px;
  display: inline-block;
  margin: 75px auto;
  transition: all .3s ease;
}
.photo-modal-dialog .panel-body{
  cursor: zoom-out;
}.photo-modal-dialog img{
   max-height: 450px;
 }
.photo-modal-enter {
  opacity: 0;
}
.photo-modal-leave-active {
  opacity: 0;
}
.photo-modal-enter .photo-modal_dialog,
.photo-modal-leave-active .photo-modal_dialog {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
